/*************************************/
/*** MARKET BULLETIN CHART STYLING ***/
/*************************************/

    /* 2021 BRAND COLOUR PALETTE */
    :root {
        /** PRIMARY SV GREEN AND SECONDARY PALLETTE **/
        --svGreen:                       #9ACA3C;
        /** SECONDARY PALLETTE **/
        --secondaryGreenLight:           #D5E0A1;
        --secondaryBottleGreen:          #174F37;
        --secondaryBottleGreenLight:     #79B5AA;
        --secondaryGrey:                 #B1B1B0;
        --secondaryGreyLight:            #CFCFCF;
        --secondaryGreyLightest:         #ECECEC;
        /** TERTIARY PALETTE **/
        --tertiaryPurple:               #51284F;
        --tertiaryPurpleLight:          #8276B3;
        --tertiaryRed:                  #E04F39;
        --tertiaryRedLight:             #F78684;
        --tertiaryYellow:               #EFC041;
        --tertiaryYellowLight:          #F5E065;
        --tertiaryCard:                 #B39981;
        --tertiaryCardLight:            #DCBFA6;
        --tertiaryEmerald:              #009E71;
        --tertiaryEmeraldLight:         #93CCB9;
        --tertiaryBlue:                 #005E88;
        --tertiaryBlueLight:            #A0D6E9;
        /*** ADDED MONOCHROME ***/
        --charcoal:         rgb(100, 100, 100);        
    }

    /***************************************/
    /*** IMPORTED FONTS  | ALL WEIGHTS  ***/
    /***************************************/

        @font-face {
            font-family: 'DIN Next LT Pro';
            src: local('DIN Next LT Pro light'), local('DIN-Next-LT-Pro-light'),
                url('../../shared-assets/fonts/DINNextLTPro-Light.woff2') format('woff2'),
                url('../../shared-assets/fonts/DINNextLTPro-Light.woff') format('woff'),
                url('../../shared-assets/fonts/DINNextLTPro-Light.ttf') format('truetype');
            font-weight: 300;
            font-style: light;
        }
        @font-face {
            font-family: 'DIN Next LT Pro';
            src: local('DIN Next LT Pro Regular'), local('DIN-Next-LT-Pro-Regular'),
                url('../../shared-assets/fonts/DINNextLTPro-Regular.woff2') format('woff2'),
                url('../../shared-assets/fonts/DINNextLTPro-Regular.woff') format('woff'),
                url('../../shared-assets/fonts/DINNextLTPro-Regular.ttf') format('truetype');
            font-weight: 400;
            font-style: normal;
        }
        @font-face {
            font-family: 'DIN Next LT Pro';
            src: local('DIN Next LT Pro Medium'), local('DIN-Next-LT-Pro-Medium'),
                url('../../shared-assets/fonts/DINNextLTPro-Medium.woff2') format('woff2'),
                url('../../shared-assets/fonts/DINNextLTPro-Medium.woff') format('woff'),
                url('../../shared-assets/fonts/DINNextLTPro-Medium.ttf') format('truetype');
            font-weight: 500;
            font-style: medium;
        }


/**********************/
/*****  LAYOUT      ***/
/**********************/

    body{
        margin: 0;
        font-family: 'DIN Next LT Pro';
        color: var(--charcoal);
    }
    table{
        width: 100vw;
        border-collapse: collapse
    }
    th{
        padding: 0.5rem 0;
        font-size: 2vw;
        font-weight: 500;
    }
    td{
        padding: 0.5rem 0;
        font-size: 2vw;
    }
    .spacer-header{
        border-top: 2px solid var(--charcoal);
        height: 0.5rem
    }
    .product{ 
        text-align: start;
        width: 30%;
        padding-right: 2.5vw;
    }
    .supply-chain{ 
        text-align: center;
        width: 17.5%;
    }
    td.supply-chain{ 
        border: #fff 3px solid;
        border-radius: 1vw;
    }